[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybald = "*"
graphene-sqlalchemy = "*"
celery = "*"

[dev-packages]
alembic = "*"
ipdb = "*"

[requires]
python_version = "3.7"
